<div class="container">
  <div class="card-deck text-center">
    <div class="card mb-2 box-shadow ">
      <div class="card-header bg-info text-white">
        <h4 class="my-0 font-weight-normal text-center">Leaderboard</h4>
      </div>
      <div class="card-body">
        <table datatable [dtOptions]="dtOptions" class="row-border hover">
          <thead>
            <tr>
              <th>Rank</th>
              <th>Name</th>
              <th>Country</th>
              <th>Score</th>
            </tr>
          </thead>
          <tbody *ngIf="leaderboardEntries?.length != 0">
            <tr *ngFor="let entry of leaderboardEntries">
              <td>{{ entry.rank }}</td>
              <td>{{ entry.name }}</td>
              <td>{{ entry.country }}</td>
              <td>{{ entry.score }}</td>
            </tr>
          </tbody>
          <tbody *ngIf="leaderboardEntries?.length == 0">
            <tr>
              <td colspan="3" class="no-data-available">No data!</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>